*{
  margin:0;
  padding:0;
}

body{
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  display: flex;
}

.container{
  background: linear-gradient(0deg, #FF928B, #FFAC81);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-title{
  background-color: #F6DDCC;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;
  border-radius: 20px;
  height: 500px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.header{
  padding: 2em;
}

.header h1{
  color: green;
  text-align: center;
}
