html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
/*Custom Font*/
@font-face {
  font-family: 'Lemon/Milk';
  src: url('http://www.fontsaddict.com/fontface/lemonmilk.ttf');
}

/*Creating Class to allow p5 to pull from style.ccs
Objective is to make a button*/
.randomizerButton {
  padding: 20px;
  background: #28b07a;
  font-family: Lemon/Milk;
  font-style: normal;
  font-weight: bold;
  font-variant: all-small-caps;
  font-family: sans-serif;
  border-top-width: normal;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  height: auto;


}
